<div class="pres-content">
  <div class="title-pres">
    <h1>YGO</h1>
    <h2>Bordeaux</h2>
    <img
      id="ygo-picture"
      src="assets/pictures/simple-logo-removebg.png"
      alt="YGoBordeaux"
    />
    <!--
    <p>
      Découvrez Bordeaux sous un nouvel angle en explorant ses bars branchés et
      authentiques. Inscrivez-vous dès maintenant pour créer votre liste de
      favoris et ne manquez aucune soirée mémorable
    </p>
    -->


  </div>
  <div class="screen-linear-nav">
    <img src="assets/pictures/accueil/pres-bordeaux.png" alt="" class="pres-picture" />
    <div class="gradient"></div>
  </div>
  <app-accueil-nav [user]="user"></app-accueil-nav>
</div>
