<div class="detail-user">
  <app-button-panel-horiz></app-button-panel-horiz>
  <div class="pictures-name">
    <div
      class="header-picture"
      [ngStyle]="{ 'background-image': 'url(' + pictureBackDetailUser + ')' }"
    ></div>
    <div class="user-picture">
      @if(user.picture) {
      <img
        class="picture"
        [src]="apiUrl + '/' + user.picture + '?time=' + currentTime"
        alt="user picture"
      />
        @if(isUpdateBlockEnable()) {
          <span class="add-picture">
        <form>
          <label for="file-update" class="custom-file-upload">
            <img src="assets/icons/picture-add.png" alt="Add" />
          </label>
          <input
            id="file-update"
            type="file"
            (change)="onFileSelect($event)"
            style="display: none"
          />
        </form>
      </span>
        }
      } @if(!user.picture) {
      <img
        class="picture"
        src="../../../../assets/pictures/avatar-user.png"
        alt="default avatar"
      />
      <span class="add-picture">
        <form>
          <label for="file-upload" class="custom-file-upload">
            <img src="assets/icons/picture-add.png" alt="Add" />
          </label>
          <input
            id="file-upload"
            type="file"
            (change)="onFileSelect($event)"
            style="display: none"
          />
        </form>
      </span>
      }
    </div>
    <div class="user-name">
      Bonjour, <br />
      {{ user.name }}
      <mat-divider />
    </div>
  </div>
  <div class="content-user">
    <div class="infos-button-change">
      <div class="infos">
        <p>{{ user.email }}</p>
        <p class="created-at">
          Enregistré depuis le {{ user.createdAt | date: 'dd/MM/yyyy' }}
        </p>
      </div>
      <div class="button-change">
        @if (!isUpdateBlockEnable()) {
        <button mat-flat-button (click)="isUpdateBlockEnable.set(true)">
          Modifier
        </button>
        } @else {
        <button mat-flat-button (click)="isUpdateBlockEnable.set(false)">
          Annuler
        </button>
        }
        <button mat-flat-button (click)="onLogout()">
          Deconnexion
        </button>
      </div>
    </div>
    @if(isUpdateBlockEnable()) {
      <app-update-user
        [user]="user"
        (userUpdated)="onUpdateUser()"

      />
    }
    <div class="bar-comment-rate">
      <div class="comment-rate">
        <div class="rate">
          <h2>Vos votes</h2>
          @if(!rate?.length) {
          <p>Parcourez notre site et notez des bars !</p>
          <button mat-button (click)="goBarList()">Liste des bars</button>
          } @if(rate?.length) { @for(rate of rate; track rate.id) {
          <div class="rate-unit">
            <p>
              {{ rate.bar?.name }}: {{ rate.rate }}/5, le
              {{ rate.ratedAt | date }}
              <img
                src="../../../../assets/icons/arrow-right.png"
                alt=""
                (click)="goDetailBarFromRate(rate)"
              />
            </p>
          </div>
          } }
        </div>
        <div class="comment">
          <h2>Commentaires</h2>
          @if(!comment?.length) {
          <p>Parcourez notre site et commentez des bars !</p>
          <button mat-button (click)="goBarList()">Liste des bars</button>
          } @if(comment?.length) { @for(comment of comment; track comment.id) {
          <div class="comment-unit">
            <p class="comment-message">
              {{ comment.message }}
            </p>
            <p class="comment-created-at">
              {{ comment.createdAt | date }}
              <img
                src="../../../../assets/icons/arrow-right.png"
                alt=""
                (click)="goDetailBarFromComment(comment)"
              />
            </p>
          </div>
          } }
        </div>
      </div>
    </div>
    <div class="bar">
      <h1>Vos bars créés</h1>
      @if(!bar?.length) {
      <div class="no-yet-bar">
        <p class="no-yet-bar">N'hésitez pas à ajouter un bar !</p>
        <button mat-button (click)="goAddBar()">Ajouter un bar</button>
      </div>
      } @if(bar?.length) { @for(bar of bar; track bar.name) {
      <div class="content-bar">
        <app-unit-bar [bar]="bar" />
      </div>
      } }
    </div>
  </div>
</div>
<app-logo-ygo />
