@use "../../../styles/variables" as var;
.detail-user {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  .pictures-name {
    top: 0;
    height: 120px;
    width: 100%;
    position: absolute;
    .header-picture {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top 35%;
    }
    .user-picture {
      img {
        position: absolute;
        bottom: -60%;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        left: 10%;
        @media screen and (max-width: 768px) {
          width: 130px;
          height: 130px;
        }
      }
      .add-picture {
        background-color: white;
        border-radius: 90%;
        cursor: pointer;
        z-index: 1000;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .user-name {
      position: absolute;
      right: 9%;
      font-size: 1.4rem;
      top: 125px;
      text-align: end;
    }
  }
  .content-user {
    margin: 200px auto auto;

    width: 80%;
    height: auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .infos-button-change {
      width: 65%;
      margin: 5% auto;
      border-radius: 25px;
      background-color: var.$backPres;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      padding: 15px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .infos {
        p {
          margin: 0;
          font-weight: 400;
          padding: 8px;
          position: relative;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
        .created-at {
        }
      }
      .button-change {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
          margin: 10px;
        }
      }
    }
    .bar-comment-rate {
      .comment-rate {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
        .comment {
          width: 40%;
          text-align: center;
          border-radius: 25px;
          background-color: var.$backPres;
          padding-bottom: 3%;
          @media screen and (max-width: 768px) {
            width: 90%;
          }
          @media screen and (max-width: 768px) {
            margin-bottom: 5%;
          }
          p {
            margin-top: 3%;
          }
          button {
            background-color: var.$red;
            color: white;
          }
          .comment-unit {
            padding: 5px;
            border-radius: 15px;
            background-color: white;
            width: 90%;
            margin: auto;
            margin-bottom: 2%;
            .comment-message {
              text-align: start;
              padding-left: 5px;
            }
            .comment-created-at {
              font-size: 0.8rem;
              color: var.$gray;
              text-align: end;
              padding-right: 5px;
              img {
                margin: auto;
                width: 15px;
                height: 15px;
                margin-left: 5px;
              }
            }
          }
        }
        .rate {
          width: 40%;
          text-align: center;
          border-radius: 25px;
          background-color: var.$backPres;
          @media screen and (max-width: 768px) {
            margin-bottom: 4%;
            width: 90%;
          }
          .rate-unit {
            img {
              margin: auto;
              width: 15px;
              height: 15px;
              margin-left: 5px;
            }
          }
          p {
            margin-top: 3%;
          }
          button {
            background-color: white;
            color: var.$red;
            margin-bottom: 4%;
          }
        }
        h2 {
          font-size: 1.8rem;
          width: 100%;
          text-align: center;
          color: var.$red;
          font-weight: 400;
          margin: auto;
          padding: 8px;
          position: relative;
        }
      }
    }
  }
}
.bar {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  @media screen and (max-width: 768px) {
    margin-top: 3%;
  }
  h1 {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    color: var.$red;
    font-weight: 600;
    margin: auto;
    padding: 8px;
    position: relative;
  }
  .content-bar {
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .no-yet-bar {
    margin: 2% auto auto;
    padding: 8px;
    text-align: center;
    width: 100%;
    position: relative;
    @media screen and (max-width: 768px) {
    }
    button {
      margin-top: 3%;
      background-color: var.$red;
      color: white;
      font-size: 1.2em;
      @media screen and (max-width: 768px) {
        margin-bottom: 5%;
      }
    }
    p {
      font-size: 1.1rem;
    }
  }
}

/*
ANCIENNE CONFIG
.picture-infos {
  margin-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  .pic {
    width: 45%;
    .picture-content {
      position: relative;
      width: 250px;
      .picture {
        width: 250px;
        height: 250px;
        border-radius: 90%;
      }
      .add-picture {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .infos {
    width: 45%;
  }
}
.background-picture {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 20, 20, 0.22); //TODO
}


 */
