.mapEmplacement {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  .map {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 980px) {
      width: 70%;
      height: 80%;
    }
  }
}
