.content-users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 77vh;
  width: 83vw;
  margin-top: 10%;
  position: absolute;
  overflow-y: scroll;
  .user {
    width: 43%;
    margin: 2%;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
}
