<section>
  <!--  [ngClass]="{'show-icons': showIcons}" -->
  <div class="contact">
    <div class="contact-content">
      <div class="nous-retrouver">
        <h1>Contact</h1>
        <div class="contact-ecole">
          <p>
            Avez-vous des questions sur nos bars répertoriés ou besoin de
            recommandations spéciales ? Notre équipe est là pour vous aider !
            Contactez-nous pour des informations personnalisées et rejoignez
            notre communauté de passionnés de la vie nocturne bordelaise.
          </p>
          <div class="ecole">
            <a href="https://www.ynov.com/" class="access-ynov" target="_blank">
              <img
                class="ynov-logo"
                src="assets/icons/ynov-withoutB.webp"
                alt=""
              />
            </a>
            <p>Projet réalisé dans le cadre de l'Ymatch de Ynov Bordeaux</p>
          </div>
        </div>
      </div>
      <div class="form-content">
        <h1>Nous contacter</h1>
        <div class="form">
          <mat-form-field class="form-field">
            <mat-label>Votre email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
          </mat-form-field>
          <mat-form-field class="form-textarea">
            <textarea
              matInput
              placeholder="Votre Message"
              [formControl]="message"
              required
            ></textarea>
          </mat-form-field>
          <div class="button-and-error">
            <button mat-raised-button class="button-form" (click)="sendEmail()">
              Envoyer
            </button>
            @if (submitted && (email.invalid || message.invalid)) {
            <p class="error">
              {{ getErrorMessage() }}
            </p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="reseaux-sociaux" [ngClass]="{ 'fade-in': showIcons }">
    <a
      href="https://www.facebook.com/"
      target="_blank"
      [style.display]="showIcons ? 'block' : 'none'"
      ><img src="assets/icons/twitter.png" alt=""
    /></a>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      [style.display]="showIcons ? 'block' : 'none'"
      ><img src="assets/icons/tiktok.png" alt=""
    /></a>
    <h2>Nous suivre</h2>
    <a
      href="https://twitter.com/"
      target="_blank"
      [style.display]="showIcons ? 'block' : 'none'"
      ><img src="assets/icons/insta.png" alt=""
    /></a>
    <a
      href="https://twitter.com/"
      target="_blank"
      [style.display]="showIcons ? 'block' : 'none'"
      ><img src="assets/icons/linkedin.png" alt=""
    /></a>
  </div>
  <div class="liner"></div>
</section>
