<section> <!--  [ngClass]="{'show-icons': showIcons}" -->

  <div class="contact-content">
     <div class="nous-retrouver">
       <h2>Contact</h2>
       <p>Avez-vous des questions sur nos bars répertoriés ou besoin de recommandations spéciales ? Notre équipe est là pour vous aider ! Contactez-nous pour des informations personnalisées et rejoignez notre communauté de passionnés de la vie nocturne bordelaise.</p>
       <div class="ecole">
           <img class="ynov-logo" src="assets/icons/ynov-withoutB.webp" alt="">
           <p>Projet réalisé dans le cadre de l'Ymatch de Ynov Bordeaux</p>
       </div>
     </div>

    <div class="form-content">
        <h2>Formulaire rapide</h2>
        <mat-form-field>
          <mat-label>Votre email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
        </mat-form-field>
        <mat-label>Votre message</mat-label>
        <mat-form-field>
          <textarea matInput placeholder="Message" [formControl]="message" required></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendEmail()">Envoyer</button>
        <p>{{getErrorMessage()}}</p>
    </div>
  </div>


  <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/" [style.display]="showIcons ? 'block' : 'none'"><img src="assets/icons/twitter.png" alt=""></a>
    <a href="https://www.instagram.com/" [style.display]="showIcons ? 'block' : 'none'"><img src="assets/icons/tiktok.png" alt=""></a>
    <h2>Nous suivre</h2>
    <a href="https://twitter.com/" [style.display]="showIcons ? 'block' : 'none'"><img src="assets/icons/insta.png" alt=""></a>
    <a href="https://twitter.com/" [style.display]="showIcons ? 'block' : 'none'"><img src="assets/icons/linkedin.png" alt=""></a>
  </div>
  <div class="liner"></div>

</section>
