section {
  width: 100%;
  z-index: 3;
  min-height: 100vh;
  position: relative;
  background-color: #FAF0E4FF;
  height: 100vh;
  .contact {
    width: 100%;
    height: 80%;
    .contact-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80%;
      .nous-retrouver {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        height: 100%;
        h1 {
          align-self: flex-end;
          margin-right: 10%;
          font-size: 2.5rem;
          color: rgb(166, 66, 70);
          font-weight: 600;
          padding: 8px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background: linear-gradient(to top, rgb(166, 66, 70), rgb(245, 221, 194));
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background: linear-gradient(to left, rgb(245, 221, 194), rgb(166, 66, 70));
          }
        }
        p {
          line-height: 1.5rem;
          color: rgb(166, 66, 70);
          font-size: 1.3rem;
          width: 80%;
          text-align: end;
        }
        .ecole {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          border: 1px solid rgb(166, 66, 70);
          border-radius: 90px;
          .access-ynov {
            margin: 0;
            display: block;
            .ynov-logo {
              margin-top: 7px;
              width: 120px;
              height: 120px;
            }
          }
          p {
            color: rgb(166, 66, 70);
            width: 100%;
            margin-right: 7%;
          }
        }
      }
      .form-content {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 100%;
        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          input {
            background-color: #FAF0E4FF; // Change the background color
            color: #A64246FF; // Change the text color
            // Add other styles as needed
          }
        }
        h1 {
          align-self: flex-start;
          margin-left: 10%;
          font-size: 2.5rem;
          color: rgb(166, 66, 70);
          font-weight: 600;
          padding: 8px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0; // Change right to left
            width: 1px;
            background: linear-gradient(to bottom, rgb(166, 66, 70), rgb(245, 221, 194));
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: linear-gradient(to right, rgb(245, 221, 194), rgb(166, 66, 70));
          }
        }
      }
    }
  }
  .reseaux-sociaux {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20%;
  }
}
.liner {
  width: 100%;
  height: 5px;
  background-color: black;
}
