<form (ngSubmit)="onSubmit(form)" #form="ngForm">

<div class="formulaire">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input
        class="form-control"
        matInput placeholder="Pseudo..."
        name="name"
        required
        [(ngModel)]="name"
      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        class="form-control"
        matInput placeholder="Email"
        required
        name="email"
        [(ngModel)]="email"
      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
  <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input
        class="form-control"
        matInput placeholder="Mot de passe"
        required
        name="password"
        [(ngModel)]="password"
      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
 <!--
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input
        class="form-control"
        matInput placeholder="Confirmer mot de passe"
        required
        name="password-confirm"
      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
 -->
  <button type="submit" mat-raised-button color="primary">Envoyer</button>

</div>
</form>
