<section>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="formulaire">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Nom d'utilisateur</mat-label>
          <input
            class="form-control"
            matInput
            name="name"
            required
            [(ngModel)]="name"
          >
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field  class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            class="form-control"
            matInput
            required
            name="email"
            [(ngModel)]="email"
          >
        <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field  class="form-field" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input
            class="form-control"
            matInput
            required
            name="password"
            [(ngModel)]="password"
            [type]="hide ? 'password' : 'text'"
          >
          <button type="button"
                  mat-icon-button
                  matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      <button class="button-send" type="submit" mat-raised-button color="primary">S'enregistrer</button>
    </div>
  </form>
  <img class="bordeaux" src="../../../assets/pictures/login-register/creative-bordeaux-register.png">
  <div class="backWithoutColor"></div>
  <div class="linear"></div>
  <h1>YGO</h1>
  <h2>Bordeaux</h2>
  <img
    class="ygologo"
    src="../../../assets/pictures/simple-logo-removebg.png"
    (click)="goHome()">
</section>

