<section>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="formulaire">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" required [(ngModel)]="email" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          name="password"
          [(ngModel)]="password"
          required
          [type]="hide ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="sendForm-register">
        <button class="send" type="submit" mat-raised-button>Connexion</button>
        <button
          class="custom-menu"
          type="button"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button type="button" mat-menu-item>
            <mat-icon>verified_user</mat-icon>
            <span (click)="goRegister()">Nouveau sur le site ?</span>
          </button>
          <button mat-menu-item>
            <mat-icon>autorenew</mat-icon>
            <span (click)="goForgotPassword()">Mot de passe oublié ?</span>
          </button>
        </mat-menu>

        <!--
         <span class="new-on-site" (click)="goRegister()"
          >Nouveau sur le site ?
        </span>
        -->
      </div>
    </div>
  </form>
  <img
    class="bordeaux"
    src="../../../../assets/pictures/login-register/creative-bordeaux-login.jpg"
  />
  <img
    class="ygologo"
    src="../../../../assets/pictures/simple-logo-removebg.png"
    (click)="goHome()"
  />
  <div class="backWithoutColor"></div>
  <div class="linear"></div>
  <h1>YGO</h1>
  <h2>Bordeaux</h2>
</section>
