.container {
  width: 100%;
  z-index: 3;
  height: 100vh;
  position: relative;
  .barUserContent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .barContent {
      width: 90%;
      height: 40%;
      background-color: rgba(28, 94, 152, 0.32);
      z-index: 40;
    }
    .userContent {
      width: 90%;
      height: 40%;
      background-color: rgba(240, 248, 255, 0.32);
      z-index: 40;
    }
  }
}
.carousel {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: scrollLeft 30s linear infinite;
}

.carousel-slide {
  display: inline-block;
  width: 150px; /* Adjust as needed */
  margin: 50px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
