<div class="container">
  <div class="barUserContent">
    <div class="userContent">
      <div class="carousel-container">
        <div class="carousel-inner-user">
          <div class="carousel-slide-bars" *ngFor="let user of userList">
            <img [src]="user.picture" [alt]="user.name">
            <p>{{ user.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="barContent">
      <div class="carousel-container">
        <div class="carousel-inner">
          <div class="carousel-slide-bars" *ngFor="let slideBar of slidesBar">
            <img [src]="slideBar.imageUrl" [alt]="slideBar.name" (click)="goDetailBar()">
            <p>{{slideBar.name}}</p>
            <p>{{slideBar.adresse}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
