.container {
  width: 100%;
  z-index: 3;
  height: 100vh;
  position: relative;
  .barUserContent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .barContent {
      width: 90%;
      height: 40%;
      z-index: 40;
    }
    .userContent {
      width: 90%;
      height: 40%;
      background-color: rgba(240, 248, 255, 0.32);
      z-index: 40;
    }
  }
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 2;
    pointer-events: none;
  }

}
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  animation: scrollLeft 30s linear infinite;
  .carousel-slide-bars {
    flex: 0 0 auto;
    margin-right: 50px;
    img {
      width: 200px;
      height: 150px;
      border-radius: 20px;
    }
    p {
      font-size: 1.2rem;
      font-weight: lighter;
      color: white;
      text-align: center;
      margin-top: 10px;
    }
  }
}
.carousel-inner-user {
  animation: scrollRight 30s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  img {
    width: 200px;
    height: auto;
    border-radius: 20px;
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 65000;
  }
}
@keyframes scrollRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100%));
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}
