.container {
  width: 100%;
  z-index: 3;
  height: 100vh;
  position: relative;
  .barUserContent {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .barContent {
      margin-right: 2%;
      width: 40%;
      height: 70%;
      background-color: rgba(240, 248, 255, 0.32);
      z-index: 40;
    }
    .userContent {
      width: 40%;
      height: 70%;
      background-color: rgba(240, 248, 255, 0.32);
      z-index: 40;
      margin-left: 2%;
    }
  }
}
