<section>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="formulaire">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput
                       name="email"
                       required
                       [(ngModel)]="email">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput
                   name="password"
                   placeholder="Password"
                   [(ngModel)]="password"
                   required
                   [type]="hide ? 'password' : 'text'">
            <button type="button"
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      <div class="sendForm-register">
        <span class="new-on-site" (click)="goRegister()">Nouveau sur le site ? </span>
        <button type="submit" mat-raised-button >Envoyer</button>
      </div>
    </div>
    </form>
    <img class="bordeaux" src="../../../assets/pictures/login-register/creative-bordeaux-login.jpg">
    <img
            class="ygologo"
            src="../../../assets/pictures/simple-logo-removebg.png"
            (click)="goHome()">
    <div class="backWithoutColor"></div>
    <div class="linear"></div>
    <h1>YGO</h1>
    <h2>Bordeaux</h2>
</section>
