<section>
    <div class="formulaire">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Pseudo...">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Mot de passe">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
    </div>
    <img class="bordeaux" src="../../../assets/pictures/login/creative-bordeaux-login.jpg">
    <img
            class="ygologo"
            src="../../../assets/pictures/simple-logo-removebg.png"
            (click)="goHome()">
    <div class="backWithoutColor"></div>
    <div class="linear"></div>
    <h1>YGO</h1>
    <h2>Bordeaux</h2>
</section>
