<mat-card class="unit-bar-content">
  <mat-card-header class="header-card">
    <img mat-card-avatar class="author-picture" src="../../../../assets/temp/3135715.png"/>
    <mat-card-title class="title">{{ bar?.name }}</mat-card-title>
  </mat-card-header>
    <img mat-card-image src="assets/temp/soiree-romantique-verre-vin-roses-table-dans-rue-du-cafe-au-coucher-du-soleil_162585-6880.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content class="card-content">
    <p>
      {{bar?.description}}
    </p>
    <ul>
      <ol>Téléphone : </ol>
      <ol class="list-data">{{ bar?.telephone }}</ol>
      <ol>Adresse : </ol>
      <ol class="list-data">{{ bar?.adresse }}</ol>
      <ol>Note : </ol>
      <ol class="list-data">
          <span *ngFor="let star of bar?.note | starRating">
            <img class="picture-star-list-data" [src]="star.color === 'yellow' ? '../../../../assets/icons/star-colored.png' : '../../../../assets/icons/star.png'" alt="">
          </span>
      </ol>
    </ul>
  </mat-card-content>
  <mat-card-actions class="button-list">
    <button mat-button  (click)="goDetailBar()">En savoir plus ...</button>
    <button mat-button>Horaires</button>
  </mat-card-actions>
</mat-card>
