<mat-card class="unit-bar-content">
  <mat-card-header class="header-card">
    <mat-card-title class="title">{{ bar?.name }}</mat-card-title>
    <img
      mat-card-avatar
      class="author-picture"
      [src]="
        bar?.createdBy?.picture
          ? apiUrl + '/' + bar?.createdBy?.picture
          : '../../../../assets/pictures/avatar-user.png'
      "
    />
  </mat-card-header>
  <img mat-card-image [src]="getBarImageUrl()" alt="Photo du bar" />
  <mat-card-content class="card-content">
    <p>
      {{ bar?.description }}
    </p>

    <div class="list">
      <p class="list-data">
        {{ bar?.adresse }}
      </p>
      <p class="list-data">
        {{ bar?.telephone }}
      </p>
      <div class="list-data rate">
        @for (star of bar?.note | starRating; track star) {
        <span class="rate-list">
          <img
            class="picture-star-list-data"
            [src]="
              star.color === 'yellow'
                ? '../../../../assets/icons/star-colored.png'
                : '../../../../assets/icons/star.png'
            "
            alt=""
          />
        </span>
        }
      </div>
      <p class="list-data createdby-at">
        Créé le
        {{ bar?.createdAt | date: "dd/MM/yyyy" }}
        par
        {{ bar?.createdBy?.email }}
      </p>
    </div>
  </mat-card-content>
  <mat-divider class="divider-horizontal"></mat-divider>
  <mat-card-actions class="button-list">
    <button mat-button (click)="goDetailBar()">En savoir plus ...</button>
    <button mat-button>Horaires</button>
  </mat-card-actions>
</mat-card>
