<div class="user-content">
  <img mat-card-image class="picture-card"
       [src]="user?.picture ? 'http://localhost:3000/' + user?.picture : 'assets/pictures/avatar-user.png'"
       alt="Photo du bar">
  <div class="content-title-accorderon">
    <h2>{{ user?.name }}</h2>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Bars likés</p>
          </mat-panel-title>
          <mat-panel-description>
            Plus d'infos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <ol>Bar Mystere </ol>
          <ol>Bar Mystere </ol>
          <ol>Bar Mystere </ol>
          <ol>Bar Mystere </ol>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


