<mat-card class="unit-user-content">
  <mat-card-header class="header-card">
    <img mat-card-avatar class="author-picture" src="../../../../assets/temp/3135715.png"/>
    <mat-card-title class="title">{{ user?.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/temp/soiree-romantique-verre-vin-roses-table-dans-rue-du-cafe-au-coucher-du-soleil_162585-6880.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content class="card-content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <ul>
      <ol>Téléphone : </ol>
      <ol class="list-data">06.06.06.06.06 </ol>
      <ol>Adresse : </ol>
      <ol class="list-data">{{ user?.email }}</ol>
      <ol>Note : </ol>
      <ol class="list-data">
        <img class="picture-star-list-data" src="assets/temp/220px-Five-pointed_star.svg.png" alt="">
        <img class="picture-star-list-data" src="assets/temp/220px-Five-pointed_star.svg.png" alt="">
        <img class="picture-star-list-data" src="assets/temp/220px-Five-pointed_star.svg.png" alt="">
        <img class="picture-star-list-data" src="assets/temp/220px-Five-pointed_star.svg.png" alt="">
        <img class="picture-star-list-data" src="assets/temp/220px-Five-pointed_star.svg.png" alt="">
      </ol>
    </ul>
  </mat-card-content>
  <mat-card-actions class="button-list">
    <button mat-button>Horaires</button>
  </mat-card-actions>
</mat-card>
