<div class="user-content">
  <img
    mat-card-image
    class="picture-card"
    [src]="
      user?.picture
        ? 'http://localhost:3000/' + user?.picture
        : 'assets/pictures/avatar-user.png'
    "
    alt="Photo du bar"
  />
  <div class="content-title-accorderon">
    <h2>{{ user?.name }}</h2>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-description> Plus d'infos </mat-panel-description>
        </mat-expansion-panel-header>
        @if (getBarsCreatedByUser().length === 0) {
        <p>Aucuns bars créé</p>
        } @if (getBarsCreatedByUser().length === 1) {
        <p>Bar créé :</p>
        } @if (getBarsCreatedByUser().length > 1) {
        <p>Bars créés :</p>
        } @if (getBarsCreatedByUser().length > 0) {
        <ul>
          @for (bar of getBarsCreatedByUser(); track bar) {
          <li>{{ bar.name }}</li>
          }
        </ul>
        } @if (getBarsCreatedByUser().length === 0) {
        <p>Aucuns bars notés</p>
        } @if (getBarsRatesByUser().length === 1) {
        <p>Bar noté :</p>
        } @if (getBarsRatesByUser().length > 1) {
        <p>Bars notés :</p>
        } @if (getBarsRatesByUser().length > 0) {
        <ul>
          @for (rate of getBarsRatesByUser(); track rate) {
          <li>{{ rate.rate }} {{ rate.bar?.name }}</li>
          }
        </ul>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
