<div class="liner"></div>
<div class="mapContent">
  <div class="explainMap">
    <h1>Map des bars</h1>
      <h3>Cette map vous permet de trouver les bars les plus proches de vous.</h3>
      <p>
        Vous pouvez également rechercher un bar en particulier. <br>
      </p>
      <div class="map-clicked">
        <p>Vous pouvez cliquer sur un bar pour avoir plus d'informations.</p>
        <ul>
          <li>Le nom du bar</li>
          <li>Adresse du bar</li>
        </ul>
      </div>

  </div>
  <app-map></app-map>
</div>

<div class="background-image" [style.display]="showBackgroundImage ? 'block' : 'none'">
  <img
    src="assets/pictures/accueil/back-contact.webp"
    alt="YGoBordeaux"
    class="back-picture"
  />
</div>

