@import "../../../../styles/variables";

.mapContent {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(166, 66, 70);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 980px) {
    flex-direction: row;
    //height: auto;
  }
  .explainMap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    @media screen and (max-width: 980px) {
      height: 1350px;
    }
    .explain {
      text-align: end;
      height: 80%;
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: self-end;
      flex-direction: column;
      h1 {
        font-size: 2.5rem;
        color: rgb(245, 221, 194);
        font-weight: 600;
        margin: 0;
        padding: 8px;
        position: relative;
        @media screen and (max-width: 1300px) {
          font-size: 2rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          background: linear-gradient(
            to bottom,
            rgb(245, 221, 194),
            rgb(166, 66, 70)
          );
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background: linear-gradient(
            to right,
            rgb(245, 221, 194),
            rgb(166, 66, 70)
          );
        }
      }
      p {
        margin-top: 20px;
        color: rgb(245, 221, 194);
        font-size: 1rem;
        width: 80%;
        //@media screen and (max-width: 1300px) {
        //  display: none;
        //}
      }
      .map-clicked {
        background-color: rgb(245, 221, 194);
        color: #a64246ff;
        width: 90%;
        height: 40%;
        align-self: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @media screen and (max-width: 1279px) {
          height: 47%;
        }
        @media screen and (max-width: 980px) {
          height: 60%;
        }
        img {
          width: 50%;
          height: 85%;
          object-fit: cover;
          border-radius: 10px;
        }
        .map-clicked-details {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .star-rating {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 80%;
            img {
              width: 80%;
              height: 80%;
              object-fit: cover;
            }
          }
          h5 {
            width: 90%;
            font-size: 1.2rem;
            color: #a64246ff;
            margin: 0;
            padding: 8px;
            position: relative;
            @media screen and (max-width: 1300px) {
              font-size: 1.2rem;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              width: 1px;
              background: linear-gradient(
                to top,
                rgb(245, 221, 194),
                rgb(166, 66, 70)
              );
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 1px;
              background: linear-gradient(
                to left,
                rgb(245, 221, 194),
                rgb(166, 66, 70)
              );
            }
          }
          p {
            width: 80%;
            color: rgb(166, 66, 70);
            @media screen and (max-width: 1300px) {
              font-size: 0.8rem;
            }
          }
          .button-detail {
            //width: 25%;
            border-radius: 10px;
            font-size: 0.9rem;
            border: none;
            margin: 2%;
            //font-weight: bold;
            color: rgb(245, 221, 194);
            background-color: rgb(166, 66, 70);
          }
        }
      }
    }
    .how-use-map {
      color: rgb(245, 221, 194);
      font-size: 1.1rem;
      width: 100%;
      text-align: center;
      margin: auto;
      padding: 0;
      align-self: center;
      h4 {
        color: rgb(245, 221, 194);
        font-size: 1.5rem;
        margin: 0;
        padding: 8px;
        position: relative;
        @media screen and (max-width: 1300px) {
          font-size: 1.3rem;
        }
      }
      p {
        width: 80%;
        margin: 3% auto auto;
        color: rgb(245, 221, 194);
        @media screen and (max-width: 1300px) {
          font-size: 0.8rem;
        }
      }
    }
  }
  .map {
    width: 100%;
    height: 100%;
    background-color: $backPres2;
    @media screen and (max-width: 980px) {
      height: 1350px;
    }
  }
}

.liner {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
}
.background-image {
  position: fixed;
  height: 100vh;
  margin: auto;
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  .back-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: black;
  }
}
