.mapContent {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(166, 66, 70);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  @media screen and (min-width: 980px) {
    flex-direction: row;
  }
  .explainMap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    .explain {
      text-align: end;
      height: 80%;
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: self-end;
      flex-direction: column;
      .guide-utilisation {
        color: rgb(245, 221, 194);
        font-size: 1.1rem;
        width: 80%;
        h4 {
          color: rgb(245, 221, 194);
          font-size: 1.5rem;
          margin: 0;
          padding: 8px;
          position: relative;
          @media screen and (max-width: 1300px) {
            font-size: 1.3rem;
          }
        }
        ol {
          @media screen and (max-width: 1300px) {
            font-size: .9rem;
            text-align: center;
          }
        }
      }
      h1 {
        font-size: 2.5rem;
        color: rgb(245, 221, 194);
        font-weight: 600;
        margin: 0;
        padding: 8px;
        position: relative;
        @media screen and (max-width: 1300px) {
          font-size: 2rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          background: linear-gradient(to bottom, rgb(245, 221, 194), rgb(166, 66, 70));
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background: linear-gradient(to right, rgb(245, 221, 194), rgb(166, 66, 70));
        }
      }
      p {
        color: rgb(245, 221, 194);
        font-size: 1.3rem;
        width: 80%;
        @media screen and (max-width: 1300px) {
          font-size: 1.1rem;
        }
      }
      .map-clicked {
        background-color: rgb(245, 221, 194);
        color: #A64246FF;
        width: 60%;
        height: 30%;
        align-self: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        img {
          width: 50%;
          height: 85%;
          object-fit: cover;
          border-radius: 10px;
        }
        .map-clicked-details {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          height: 100%;
          h5 {
            width: 90%;
            font-size: 1.5rem;
            color: #A64246FF;
            margin: 0;
            padding: 8px;
            position: relative;
            @media screen and (max-width: 1300px) {
              font-size: 1.2rem;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              width: 1px;
              background: linear-gradient(to top, rgb(245, 221, 194), rgb(166, 66, 70));
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 1px;
              background: linear-gradient(to left, rgb(245, 221, 194), rgb(166, 66, 70));
            }
          }
          p {
            width: 80%;
            color: rgb(166, 66, 70);
            @media screen and (max-width: 1300px) {
              font-size: .8rem;
            }
          }
        }

      }
    }
  }
  .map {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 240, 228);
  }
}

.liner {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
}
.background-image {
  position: fixed;
  height: 100vh;
  margin: auto;
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  .back-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: black;
  }
}

