<div class="liner"></div>
<div class="mapContent">
  <div class="explainMap">
    <div class="explain">
      <h1>Map des bars</h1>
      <p>Cette carte interactive vous permet de localiser facilement les bars à proximité de votre emplacement.
        Vous pouvez explorer les options de divertissement et de détente offertes par les différents bars de la région.
      </p>
      <div class="guide-utilisation">
        <h4>Comment l'utiliser ?</h4>
        <ul>
          <ol>Cliquez sur l'icône du bar pour afficher des informations détaillées.</ol>
          <ol>Les informations disponibles pour chaque bar incluent le nom du bar et son adresse.</ol>
          <ol>Utilisez la fonction de zoom pour explorer davantage la carte et localiser les bars qui vous intéressent.</ol>
        </ul>
      </div>
      <div class="map-clicked">
        <img src="./assets/temp/soiree-romantique-verre-vin-roses-table-dans-rue-du-cafe-au-coucher-du-soleil_162585-6880.jpg" alt="">
        <div class="map-clicked-details">
          <h5>NOM DU BAR</h5>
          <p>Adresse: Adresse du bar</p>
          <p>Note : ★★★★★</p>
          <button mat-raised-button>En savoir plus</button>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
</div>
<div class="background-image" [style.display]="showBackgroundImage ? 'block' : 'none'">
  <img
    src="assets/pictures/accueil/back-contact.webp"
    alt="YGoBordeaux"
    class="back-picture"
  />
</div>

