<video width="320"
       height="240"
       autoplay
       loop
       controls
       id="video-scroll"
>
  <source src="assets/videos/home-ygoproject-angular.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<div class="pres-content">
  <h1>YGO</h1>
  <h2>Bordeaux</h2>
  <img
    id="ygo-picture"
    src="assets/pictures/simple-logo-removebg.png"
    alt="YGoBordeaux"
  />
  <app-accueil-nav />
</div>

<app-article></app-article>
<!--
<img
  src="assets/pictures/login/creative-bordeaux-login.jpg"
  alt="YGoBordeaux"
  class="back-users-article"
/>
-->
<app-us-users></app-us-users>
<app-contact></app-contact>
