<div class="content">
  <app-button-panel-horiz></app-button-panel-horiz>
  <h1>{{ (bar | async)?.name }}</h1>
  <div class="content-bar-unit">
    <div class="pictures">
      <div class="pictures-content">
        <img
          class="picture-center"
          [src]="selectedPicture"
          alt="Photo du bar"
        />
        <div class="pictures-content-galerie">
          <img
            class="pictures-content-galerie-unit"
            (click)="
              onSelectPicture(currentBar?.pictureList?.pictureTwo, 'pictureTwo')
            "
            [src]="apiUrl + '/' + currentBar?.pictureList?.pictureTwo"
            alt="Photo du bar2"
          />
          <img
            class="pictures-content-galerie-unit"
            (click)="
              onSelectPicture(
                currentBar?.pictureList?.pictureThree,
                'pictureThree'
              )
            "
            [src]="apiUrl + '/' + currentBar?.pictureList?.pictureThree"
            alt="Photo du bar3"
          />
          <img
            class="pictures-content-galerie-unit"
            (click)="
              onSelectPicture(
                currentBar?.pictureList?.pictureFour,
                'pictureFour'
              )
            "
            [src]="apiUrl + '/' + currentBar?.pictureList?.pictureFour"
            alt="Photo du bar4"
          />
        </div>
      </div>

      <div class="desc">
        <p class="description">
          {{ (bar | async)?.description }}
        </p>
        <div class="particularity-adress">
          <div class="particularity">
            <h2>{{ currentBar?.particularities?.length === 1 ? 'Particularité' : 'Particularités' }}</h2>
            @if (currentBar?.particularities) {
              <ul *ngFor="let particularity of (bar | async)?.particularities" class="particularity-unit">
                {{ (particularity | particularityTranslate).translation }}
                <img [src]="(particularity | particularityTranslate).logo" alt="{{ particularity }}">
              </ul>
            } @if (currentBar?.particularities?.length === 0) {
            <p>Aucune particularité pour ce bar</p>
            }
          </div>
          <div class="adress">
            <h2>Adresse</h2>
            <p>{{ (bar | async)?.adresse }}</p>
          </div>
        </div>
        <p class="createdby-at">
          Créé le {{ (bar | async)?.createdAt | date: "dd/MM/yyyy" }} <br> par
          {{ (bar | async)?.createdBy?.email }}
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="rate-map">
      <div class="note">
        <h2>Nombre de votants : {{ rateCount() }}</h2>
        @for (star of (bar | async)?.note | starRating; track star) {
        <span class="rate-list">
          <img
            class="picture-star-list-data"
            [src]="
              star.color === 'yellow'
                ? '../../../../assets/icons/star-colored.png'
                : '../../../../assets/icons/star.png'
            "
            alt=""
          />
        </span>
        }
        <div class="voter">
          @if(!isUserLogged()) {
          <p>Vous devez être connecté pour voter !</p>
          <button (click)="loggin()">Connexion</button>
          } @else if (!hasUserRatedBar()) {
          <p>Vous n'avez toujours pas voté !</p>
          <button class="voter-button"><!-- (click)="onVote()" -->Voter</button>
          } @else { @if (userRate() !== undefined) {
          <p>La note que vous avez attribué :</p>
          @for (star of userRate()! | starRating; track star) {
          <span class="rate-list">
            <img
              class="picture-star-list-data"
              [src]="
                star.color === 'yellow'
                  ? '../../../../assets/icons/star-colored.png'
                  : '../../../../assets/icons/star.png'
              "
              alt=""
            />
          </span>
          } } }
        </div>
      </div>
<h1>CALENDRIERRRR</h1>
      <div class="mapEmplacement">
        <div class="map-wrap">
          <div class="map" #map></div>
        </div>
      </div>
    </div>
  </div>
  <app-logo-ygo />
</div>
