/* Colors */
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content h1 {
  font-size: 3.2em;
  color: rgb(255, 204, 170);
  font-weight: 600;
  margin-left: 10%;
  margin-top: 3%;
  padding: 8px;
  position: relative;
}
@media screen and (max-width: 1300px) {
  .content h1 {
    font-size: 2rem;
  }
}
.content h1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 500px;
  background: linear-gradient(to left, rgb(250, 237, 225), rgb(166, 66, 70));
}
@media screen and (max-width: 1300px) {
  .content h1::before {
    width: 300px;
  }
}
.content .content-bar-unit {
  background-color: rgb(252, 240, 229);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  height: 75vh;
  width: 83vw;
  margin-top: 3%;
  margin-left: 3%;
  position: absolute;
  overflow-y: auto;
  border-radius: 10px;
}
.content .content-bar-unit .pictures {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.content .content-bar-unit .pictures .picture-center {
  width: 80%;
  max-height: 470px;
}
.content .content-bar-unit .pictures .pictures-content-galerie {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.content .content-bar-unit .pictures .pictures-content-galerie img {
  width: 100px;
  margin: 11px;
  height: 22%;
  box-shadow: 0px 0px 10px 0px #888888;
}
@media screen and (max-width: 767px) {
  .content .content-bar-unit .pictures .pictures-content-galerie img {
    width: 50px;
    height: 50px;
  }
}
.content .content-bar-unit .pictures .pictures-content-galerie img:active {
  transform: scale(1.03);
}
.content .content-bar-unit .rate-map {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 980px) {
  .content .content-bar-unit .rate-map {
    flex-direction: column;
  }
}
.content .content-bar-unit .rate-map .note {
  width: 50%;
  border-radius: 15px;
  margin: 20px;
  background-color: rgba(172, 169, 169, 0.18);
}
@media screen and (max-width: 700px) {
  .content .content-bar-unit .rate-map .note {
    width: 90%;
  }
}
.content .content-bar-unit .rate-map .note .picture-star-list-data {
  width: 2vw;
  height: 2vw;
  max-width: 20px;
  max-height: 20px;
  margin: 2%;
}
.content .content-bar-unit .rate-map .note .picture-star-list-data img {
  z-index: 10;
  width: 500px;
  height: 500px;
}
.content .content-bar-unit .rate-map .note .rate-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
}
.content .content-bar-unit .rate-map .note .rate-count .app-star-count {
  width: 100%;
}
.content .content-bar-unit .rate-map .note .rate-count .rate-list {
  width: 20%;
  margin: auto;
}
.content .content-bar-unit .rate-map .note .rate-count .count-raters {
  width: 100%;
  text-align: end;
  font-size: 0.9em;
}
.content .content-bar-unit .rate-map .note .particularity {
  width: 100%;
  margin: auto;
  text-align: center;
}
.content .content-bar-unit .rate-map .note .particularity .particularity-unit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.content .content-bar-unit .rate-map .note .particularity .particularity-unit img {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.content .content-bar-unit .rate-map .note .adress-bar {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  font-family: "Titillium", sans-serif;
  margin: 15px;
}
.content .content-bar-unit .rate-map .mapEmplacement {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .content .content-bar-unit .rate-map .mapEmplacement {
    width: 90%;
    height: 350px;
  }
}
.content .content-bar-unit .rate-map .mapEmplacement .map-wrap {
  position: relative;
  width: 80%;
  height: calc(100% - 77px);
}
.content .content-bar-unit .rate-map .mapEmplacement .map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content .picture-center {
  /* Autres styles... */
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.content .picture-center-fade {
  opacity: 0;
}

.comments {
  width: 80%;
}
.comments h2 {
  text-align: center;
  margin: 2em;
}
.comments p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.05em;
}
.comments .comment-content .comment-unit .comment-unit-content {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #888888;
  background-color: white;
  margin: 10px 10px 0;
  padding: 5px 5px 0;
}
.comments .comment-content .comment-unit .comment-unit-content .comment-send {
  width: 100%;
  text-align: end;
  font-size: 0.9em;
  color: #ff6c6c;
}
.comments .comment-content .comment-unit .comment-unit-content .comment-unit-content-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0;
  padding-bottom: 0;
}
.comments .comment-content .comment-unit .comment-unit-content .comment-unit-content-infos p {
  font-size: 0.9em;
  color: #303030;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content-login-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.comment-form h4 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.comment-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.comment-form form mat-form-field {
  width: 80%;
}
.comment-form form .send-button {
  height: 100%;
  margin: 5px;
  border-radius: 90%;
  background-color: white;
  transition: background-color 0.3s;
}
.comment-form form .send-button:hover {
  background-color: #e19e6f;
  transition: background-color 0.3s;
}
.comment-form form .send-button mat-icon {
  height: 100%;
  margin: auto;
}

.no-logged {
  margin-top: 15px;
  text-align: center;
}

.login-button {
  margin: auto;
}

.voter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.voter .content-login-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.voter .given-rate {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.voter .given-rate .content-star-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.voter .given-rate .content-star-rate .picture-star-list-data {
  margin: 5px;
}

.desc {
  width: 80%;
  margin: 20px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Titillium", sans-serif;
}

.divider {
  width: 80%;
  margin: 20px;
  height: 1px;
  background-color: white;
}

/*# sourceMappingURL=detail-bar.component.css.map */
