<div class="accueil-nav">
    <button mat-button routerLink="/bars/add-bar">TEMP ADD BAR</button>
    <button *ngIf="!isAuthenticated" mat-button routerLink="login">Se connecter</button>
    <button *ngIf="!isAuthenticated" mat-button routerLink="register">Nous rejoindre</button>

    <button *ngIf="isAuthenticated" mat-button (click)="onLogout()">Déconnexion</button>
    <button *ngIf="isAuthenticated" mat-button (click)="fetchUserAndNavigate()">Votre compte</button>
    <!--
     <span class="list-item">
      <img src="../../../../../assets/icons/user-count.png" alt="Icône nombre d'utilisateurs">
          <p> 15 Utilisateurs</p>
    </span>
    <mat-divider></mat-divider>
    <span class="list-item">
      <img src="../../../../../assets/icons/wine-count.png" alt="Icône nombre de bars">
    <p>23 Bars</p>
    </span>
    <mat-divider></mat-divider>
    <span class="list-item">
      <img src="../../../../../assets/icons/picture-count.png" alt="Icône nombre photos">
      <p> 15 Photos</p>
    </span>
    -->
</div>
