.accueil-nav {
  position: absolute;
  width: 42%;
  border-radius: 10px;
  background-color: #faf0e4ff;
  bottom: 20px;
  right: 20px;
  display: flex;
  height: 45%;
  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
    width: auto;
    p {
      padding-left: 3%;
      width: 100%;
      font-family: "Titillium", sans-serif;
      font-size: 1.4em;
      color: black;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

.header {
  width: 100%;
}
