/* Colors */
.content-pres-bottom {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: #888888;
  z-index: 1000;
  bottom: 0;
}

.accueil-nav {
  position: absolute;
  width: 42%;
  border-radius: 10px;
  background-color: rgb(252, 240, 229);
  bottom: 20px;
  right: 20px;
  display: flex;
  height: 50%;
}
@media screen and (max-width: 980px) {
  .accueil-nav {
    bottom: 0px;
  }
}
.accueil-nav .loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}
.accueil-nav .loading .loading-text {
  font-size: 1.5rem;
  font-weight: 200;
  color: #000000;
  margin-bottom: 50px;
}
.accueil-nav .loading .loading-picture {
  width: 100px;
  height: 100px;
}
.accueil-nav .header {
  height: 100%;
  width: 100%;
}
.accueil-nav .header .tab-label {
  font-size: 1.5rem;
  font-weight: 200;
  margin: auto;
  color: rgb(138, 57, 61);
}
.accueil-nav .header .tab-label-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: ease-in-out 0.2s;
}
.accueil-nav .header .tab-label-icon:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  scale: 1.2;
}
.accueil-nav .header .tab-content {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.accueil-nav .header .tab-content .tab-text {
  font-size: 1.2rem;
  font-weight: 200;
  margin: auto;
  color: rgb(138, 57, 61);
  line-height: 1.1em;
}
.accueil-nav .header .tab-content .text-one {
  padding: 15px;
  align-self: end;
  text-align: end;
  width: 60%;
  margin-right: 10%;
}
.accueil-nav .header .tab-content .text-two {
  padding: 15px;
  align-self: start;
  text-align: start;
  width: 60%;
  margin-left: 10%;
}
.accueil-nav .header .tab-content .text-thirdh {
  text-align: center;
  height: 50px;
}
.accueil-nav .header .tab-content .tab-video {
  width: 300px;
  height: auto;
  align-self: start;
  margin-left: 5%;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: -1px -2px 15px 4px rgba(0, 0, 0, 0.28);
}
.accueil-nav .header .tab-content .tab-picture {
  width: 300px;
  height: auto;
  align-self: end;
  margin-right: 5%;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: -1px -2px 15px 4px rgba(0, 0, 0, 0.28);
}
.accueil-nav .header .tab-content .tab-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  .accueil-nav {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

.header {
  width: 100%;
}

.button-custom {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.button-custom:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.button-custom:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button-custom:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/*# sourceMappingURL=accueil-nav.component.css.map */
