/* Typo */
/* Typo "Bordeaux" du titre*/
@font-face {
  font-family: "Moontime";
  src: url("../../assets/typo/FontsFree-Net-MoonTime-Regular.ttf");
}
@font-face {
  font-family: "Montserrat light";
  src: url("../../assets/typo/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "Titillium";
  src: url("../../assets/typo/TitilliumWeb-Regular.ttf");
}
