/* Colors */

$background-accueil: rgb(236, 183, 150);
$base: rgb(245, 221, 194);
$marron: rgb(233, 161, 120);
$red: rgb(168, 68, 72);
$redText: rgb(138, 57, 61);
$violet: rgb(122, 62, 101);
$violet2: rgb(176, 139, 154);
$backPres: rgb(250, 240, 228);
$backPres2: rgb(252, 240, 229);
