<section>
  <div
    class="back-picture"
    [ngStyle]="{
      'background-image': 'url(assets/pictures/forgot-password-back.png)',
      'background-size': 'cover',
      'background-repeat': 'no-repeat'
    }"
  ></div>
  <div class="gradient">
    <div class="partOne"></div>
    <div class="partTwo"></div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="formulaire">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input class="form-control" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input
          class="form-control"
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Vérification mot de passe</mat-label>
        <input
          class="form-control"
          matInput
          formControlName="verifyPassword"
          [type]="hideVerify ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideVerify = !hideVerify"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideVerify"
        >
          <mat-icon>{{
            hideVerify ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <button class="button-send" type="submit" mat-raised-button>
        Changer mot de passe
      </button>
    </div>
  </form>
  <app-logo-ygo />
</section>
