<mat-drawer-container class="button-panel" autosize>
  <mat-drawer #drawer mode="side" class="button-panel-drawer">
    <app-button-unit
      (click)="fetchUserAndNavigate()"
      [src]="userPicture"
      [isParentElement]="false"
    />
    <app-button-unit
      (click)="drawer.toggle()"
      [src]="winePicture"
      [isParentElement]="false"
      [routerLink]="routerLinkBars"
    />
    <app-button-unit
      (click)="drawer.toggle()"
      [src]="contactPicture"
      [isParentElement]="false"
      [routerLink]="routerLinkUsers"
    />
  </mat-drawer>
  <div>
    <app-button-unit
      (click)="drawer.toggle()"
      [src]="arrowLeftPicture"
      [isParentElement]="true"
      [routerLink]="undefined"
      [ngClass]="isDrawerOpen ? 'rotate' : ''"
    />
  </div>
</mat-drawer-container>
