.button-panel {
  position: fixed;
  z-index: 40;
  right: 5%;
  top: 5%;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  background-color: transparent;
  height: auto;
  @media screen and (max-width: 1300px) {
    right: 30px;
  }
  .parent-button-panel {
  }
  .button-panel-drawer {
    width: 300px;
    background-color: transparent;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}
