.content-bars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 77vh;
  width: 83vw;
  margin-top: 10%;
  position: absolute;
  overflow-y: scroll;
  @media (max-width: 980px) {
    margin-top: 20%;
  }
  @media (max-width: 1180px) {
    .content-bar {
      width: 80%;
    }
  }
  @media (max-width: 680px) {
    .content-bar {
      width: 100%;
    }
  }
}
