.accueil-nav {
  position: fixed;
  bottom: 10%;
  right: 10%;
  padding-right: 2%;
  border-radius: 10px;
  background-color: #FAF0E4FF;
  width: auto;
  .list-item {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    margin: 15%;
    width: auto;
    p {
      padding-left: 3%;
      width: 100%;
      font-family: "Titillium", sans-serif;
      font-size: 1.4em;
      color: black;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}
