<section>
  <form [formGroup]="barForm" (ngSubmit)="onSubmit()" class="formulaire">
    <div class="form-inputs">
      <div class="inputs">
        <!-- Name -->
        <div class="form-group name">
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input
              class="form-control"
              matInput
              placeholder="Nom du bar..."
              formControlName="name"
              />
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
        <!-- Descr -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              class="form-control form-textarea"
              matInput
              formControlName="description"
            ></textarea>
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>
        </div>
        <!-- Telephone -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <input
              class="form-control"
              matInput
              placeholder="06.67 ..."
              formControlName="telephone"
              />
            <mat-icon matSuffix>phone</mat-icon>
            @if (
              barForm.get('telephone')?.invalid &&
              barForm.get('telephone')?.touched
              ) {
              <mat-error
                >
                @if (barForm.get('telephone')?.errors?.['pattern']) {
                  <div
                    class="error-phone-valid"
                    >
                    Mauvais format.
                  </div>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="submit-error">
          @if (barForm.errors?.['submit']) {
            <div class="error-message">
              {{ barForm.errors?.["submit"] }}
            </div>
          }
          <button class="send-button" type="submit" mat-raised-button>
            Envoyer
          </button>
        </div>
      </div>
      <div class="adresse-pictures-map">
        <!-- Map -->
        <div class="mapEmplacement">
          <div class="map-wrap">
            <div class="map" #map></div>
          </div>
        </div>
        <!-- Adresse -->
        <div class="form-group adress">
          <mat-form-field appearance="fill">
            <mat-label>Adresse </mat-label>
            <input
              class="form-control"
              matInput
              placeholder="Son adresse..."
              formControlName="adresse"
              (change)="onAddressChange()"
              />
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
            @if (
              barForm.get('adresse')?.invalid &&
              barForm.get('adresse')?.touched
              ) {
              <mat-error
                >Adresse obligatoire.</mat-error
                >
              }
            </mat-form-field>
          </div>
          <!-- Pictures -->
          <div class="content-list-pictures">
            <div
              class="form-group custom-file-upload"
            [style.background-color]="
              barForm.get('pictureOne')?.value ? '#00FFA68C' : '#ffffff'
            "
              >
              <input
                type="file"
                id="pictureOne"
                name="pictureOne"
                accept="image/png, image/jpeg"
                (change)="onFileChange($event, 'pictureOne')"
              [ngClass]="{
                'input-invalid':
                  barForm.get('pictureOne')?.invalid &&
                  barForm.get('pictureOne')?.touched
              }"
                />
              <label for="pictureOne" class="file-upload-label">
                @if (!barForm.get('pictureOne')?.value) {
                  <mat-icon
                    class="icon-submit"
                    >upload</mat-icon
                    >
                  }
                  @if (barForm.get('pictureOne')?.value) {
                    <mat-icon
                      class="icon-submit"
                      >done</mat-icon
                      >
                    }
                  </label>
                </div>


                <div
                  class="form-group custom-file-upload"
            [style.background-color]="
              barForm.get('pictureTwo')?.value ? '#00FFA68C' : '#ffffff'
            "
                  >
                  <input
                    type="file"
                    id="pictureTwo"
                    name="pictureTwo"
                    accept="image/png, image/jpeg"
                    (change)="onFileChange($event, 'pictureTwo')"
                    />
                  <label for="pictureTwo" class="file-upload-label">
                    @if (!barForm.get('pictureTwo')?.value) {
                      <mat-icon
                        class="icon-submit"
                        >upload</mat-icon
                        >
                      }
                      @if (barForm.get('pictureTwo')?.value) {
                        <mat-icon
                          class="icon-submit"
                          >done</mat-icon
                          >
                        }
                      </label>
                    </div>



                    <div
                      class="form-group custom-file-upload"
            [style.background-color]="
              barForm.get('pictureThree')?.value ? '#00FFA68C' : '#ffffff'
            "
                      >
                      <input
                        type="file"
                        id="pictureThree"
                        name="pictureThree"
                        accept="image/png, image/jpeg"
                        (change)="onFileChange($event, 'pictureThree')"
                        />
                      <label for="pictureThree" class="file-upload-label">
                        @if (!barForm.get('pictureThree')?.value) {
                          <mat-icon
                            class="icon-submit"
                            >upload</mat-icon
                            >
                          }
                          @if (barForm.get('pictureThree')?.value) {
                            <mat-icon
                              class="icon-submit"
                              >done</mat-icon
                              >
                            }
                          </label>
                        </div>
                        <div
                          class="form-group custom-file-upload"
            [style.background-color]="
              barForm.get('pictureFour')?.value ? '#00FFA68C' : '#ffffff'
            "
                          >
                          <input
                            type="file"
                            id="pictureFour"
                            name="pictureFour"
                            accept="image/png, image/jpeg"
                            (change)="onFileChange($event, 'pictureFour')"
                            />
                          <label for="pictureFour" class="file-upload-label">
                            @if (!barForm.get('pictureFour')?.value) {
                              <mat-icon
                                class="icon-submit"
                                >upload</mat-icon
                                >
                              }
                              @if (barForm.get('pictureFour')?.value) {
                                <mat-icon
                                  class="icon-submit"
                                  >done</mat-icon
                                  >
                                }
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <mat-divider></mat-divider>
                      <div class="form-group particularity-list">
                        @for (particularity of particularitiesArray; track particularity) {
                          <div>
                            <mat-slide-toggle
                              class="particularity"
                              formControlName="{{ particularity.key }}"
                              >
                              <p class="particularity-label">
                                {{ particularity.label }}
                              </p>
                            </mat-slide-toggle>
                          </div>
                        }
                      </div>
                    </form>
                  </section>
                  <app-logo-ygo />
                  <div class="background-form">
                    <img
                      class="back-picture"
                      src="assets/pictures/back-add-bar-form.jpg"
                      alt="background-form"
                      />
                    <div class="linear"></div>
                  </div>
