<section>
  <form [formGroup]="barForm" (ngSubmit)="onSubmit()" class="formulaire">
    <div class="form-inputs">
      <div class="inputs">
        <!-- Name -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input
              class="form-control"
              matInput
              placeholder="Nom du bar..."
              formControlName="name"
            />
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
        <!-- Descr -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              class="form-control form-textarea"
              matInput
              formControlName="description"
            ></textarea>
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>
        </div>
        <!-- Telephone -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <input
              class="form-control"
              matInput
              placeholder="06.67 ..."
              formControlName="telephone"
            />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error
              *ngIf="
                barForm.get('telephone')?.invalid &&
                barForm.get('telephone')?.touched
              "
            >
              <div
                class="error-phone-valid"
                *ngIf="barForm.get('telephone')?.errors?.['pattern']"
              >
                Veuillez entrer un numéro de téléphone valide.
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="submit-error">
          <div *ngIf="barForm.errors?.['submit']" class="error-message">
            {{ barForm.errors?.["submit"] }}
          </div>
          <button class="send-button" type="submit" mat-raised-button>
            Envoyer
          </button>
        </div>
      </div>
      <div class="adresse-pictures-map">
        <!-- Map -->
        <div class="mapEmplacement">
          <div class="map-wrap">
            <div class="map" #map></div>
          </div>
        </div>
        <!-- Adresse -->
        <div class="form-group adress">
          <mat-form-field appearance="fill">
            <mat-label>Adresse </mat-label>
            <input
              class="form-control"
              matInput
              placeholder="Son adresse..."
              formControlName="adresse"
              (change)="onAddressChange()"
            />
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
            <mat-error
              *ngIf="
                barForm.get('adresse')?.invalid &&
                barForm.get('adresse')?.touched
              "
              >Adresse is required.</mat-error
            >
          </mat-form-field>
        </div>
        <!-- Pictures -->
        <div class="content-list-pictures">
          <div class="form-group custom-file-upload">
            <input
              type="file"
              id="pictureOne"
              name="pictureOne"
              accept="image/png, image/jpeg"
              (change)="onFileChange($event, 'pictureOne')"
              [ngClass]="{
                'input-invalid':
                  barForm.get('pictureOne')?.invalid &&
                  barForm.get('pictureOne')?.touched
              }"
            />
            <label for="pictureOne" class="file-upload-label">
              <mat-icon
                class="icon-submit"
                *ngIf="!barForm.get('pictureOne')?.value"
                >upload</mat-icon
              >
              <mat-icon
                class="icon-submit"
                *ngIf="barForm.get('pictureOne')?.value"
                >done</mat-icon
              >
            </label>
          </div>
          <div class="form-group custom-file-upload">
            <input
              type="file"
              id="pictureTwo"
              name="pictureTwo"
              accept="image/png, image/jpeg"
              (change)="onFileChange($event, 'pictureTwo')"
            />
            <label for="pictureTwo" class="file-upload-label">
              <mat-icon
                class="icon-submit"
                *ngIf="!barForm.get('pictureTwo')?.value"
                >upload</mat-icon
              >
              <mat-icon
                class="icon-submit"
                *ngIf="barForm.get('pictureTwo')?.value"
                >thumb_up</mat-icon
              >
            </label>
          </div>
          <div class="form-group custom-file-upload">
            <input
              type="file"
              id="pictureThree"
              name="pictureThree"
              accept="image/png, image/jpeg"
              (change)="onFileChange($event, 'pictureThree')"
            />
            <label for="pictureThree" class="file-upload-label">
              <mat-icon
                class="icon-submit"
                *ngIf="!barForm.get('pictureThree')?.value"
                >upload</mat-icon
              >
              <mat-icon
                class="icon-submit"
                *ngIf="barForm.get('pictureThree')?.value"
                >thumb_up</mat-icon
              >
            </label>
          </div>
          <div class="form-group custom-file-upload">
            <input
              type="file"
              id="pictureFour"
              name="pictureFour"
              accept="image/png, image/jpeg"
              (change)="onFileChange($event, 'pictureFour')"
            />
            <label for="pictureFour" class="file-upload-label">
              <mat-icon
                class="icon-submit"
                *ngIf="!barForm.get('pictureFour')?.value"
                >upload</mat-icon
              >
              <mat-icon
                class="icon-submit"
                *ngIf="barForm.get('pictureFour')?.value"
                >thumb_up</mat-icon
              >
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<app-logo-ygo></app-logo-ygo>
<div class="background-form">
  <img
    class="back-picture"
    src="assets/pictures/back-add-bar-form.jpg"
    alt="background-form"
  />
  <div class="linear"></div>
</div>
