section {
  width: 100%;
  @media screen and (max-width: 1080px) {
    //height: 120vh;
  }
  @media screen and (min-width: 1080px) {
    //height: 85%;
  }
  .formulaire {
    overflow-y: auto;
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1080px) {
      height: 85%;
      margin-top: 5%;
    }
    .form-inputs {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 85%;
      .error-phone-valid {
        font-weight: 500;
        font-size: 1.2em;
        text-align: end;
      }
      @media screen and (max-width: 1080px) {
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .inputs {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .name {
          margin-top: 0;
          @media screen and (max-width: 1080px) {
            margin-top: 40px;
          }
        }
        .form-group {
          width: 80%;
          mat-form-field {
            width: 100%;
          }
          .form-textarea {
            height: 100px;
            max-height: 400px;
          }
        }
        @media screen and (max-width: 1080px) {
          width: 60%;
        }
        @media screen and (max-width: 680px) {
          width: 100%;
        }
        .submit-error {
          height: 15%;
          width: 80%;
          display: flex;
          @media screen and (max-width: 1080px) {
            align-self: center;
          }
          button {
            @media screen and (max-width: 1080px) {
              margin: auto;
              align-self: center;
            }
          }
        }
      }
      .adresse-pictures-map {
        height: 80%;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 0;
        .mapEmplacement {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1%;

          .map-wrap {
            position: relative;
            width: 100%;
            min-height: 200px;
            height: calc(100% - 77px);
            //height: 80%; ?
          }
          .map {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
        .adress {
          mat-form-field {
            width: 100%;
          }
        }
        .content-list-pictures {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          .custom-file-upload {
            background-color: #ffffff;
            position: relative;
            width: 22%;
            height: 80px;
            border: 2px dashed #171414;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: 1%;
          }
          .custom-file-upload input[type="file"] {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
          }
          .file-upload-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 100%;
          }
          .file-upload-label mat-icon {
            color: #666;
          }
        }
        .mapEmplacement,
        .adress,
        .content-list-pictures {
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}
.background-form {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171414;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  .back-picture {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
  }
  .linear {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    background: linear-gradient(
      90deg,
      rgba(232, 232, 232, 0.51) 0%,
      rgba(23, 20, 20, 0) 100%
    );
  }
}
.particularity-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  /* mobile
   display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
   */
  .particularity {
    background-color: #ffffff;
    padding-left: 3%;
    padding-right: 3%;
    margin: 2%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
    .particularity-label {
      padding: 5%;
      margin-top: 5px;
      margin-right: 15px;
      font-size: 1.2em;
      font-weight: 500;
      text-align: start;
      font-family: "Montserrat", sans-serif;
      user-select: none;
    }
  }
  @media screen and (max-width: 1080px) {
    margin-top: 5%;
  }
}
