<section>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="formulaire">
    <div class="form-inputs">
      <div class="inputs">
        <!-- Name -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input
              class="form-control"
              matInput placeholder="Nom du bar..."
              name="name"
              required
              [(ngModel)]="name"
            >
            <mat-icon matSuffix></mat-icon>
            <mat-hint>Requis</mat-hint>
          </mat-form-field>
        </div>
        <!-- Descr -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              class="form-control form-textarea"
              matInput
              name="description"
              required
              [(ngModel)]="description"
            ></textarea>
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>Requis</mat-hint>
          </mat-form-field>
        </div>
        <!-- Telephone -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <input
              class="form-control"
              matInput placeholder="06.67 ..."
              name="telephone"
              required
              [(ngModel)]="telephone"
            >
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Requis</mat-hint>
          </mat-form-field>
        </div>
        <div class="submit-error">
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <button class="send-button"
                  type="submit"
                  mat-raised-button
          >
            Envoyer
          </button>
        </div>
      </div>
      <div class="adresse-pictures-map">
        <!-- Map -->
        <div class="mapEmplacement">
          <div class="map-wrap">
            <div class="map" #map></div>
          </div>
        </div>
        <!-- Adresse -->
        <div class="form-group adress">
          <mat-form-field appearance="fill">
            <mat-label>Adresse </mat-label>
            <input
              class="form-control"
              matInput placeholder="Son adresse..."
              name="adresse"
              required
              [(ngModel)]="adresse"
              (ngModelChange)="onAddressChange()"
            >
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <!-- Pictures -->
        <div class="content-list-pictures">
          <div class="form-group custom-file-upload">
            <input type="file" id="pictureOne" name="pictureOne" accept="image/png, image/jpeg" (change)="onFileChange($event, 'pictureOne')">
            <label for="pictureOne" class="file-upload-label">
              <mat-icon class="icon-submit" *ngIf="!pictureOne">upload</mat-icon>
              <mat-icon class="icon-submit" *ngIf="pictureOne">done</mat-icon>
            </label>
          </div>
          <div class="form-group custom-file-upload">
            <input type="file" id="pictureTwo" name="pictureTwo" accept="image/png, image/jpeg" (change)="onFileChange($event, 'pictureTwo')">
            <label for="pictureTwo" class="file-upload-label">
              <mat-icon class="icon-submit" *ngIf="!pictureTwo">upload</mat-icon>
              <mat-icon class="icon-submit" *ngIf="pictureTwo">thumb_up</mat-icon>
            </label>
          </div>
          <div class="form-group custom-file-upload">
            <input type="file" id="pictureThree" name="pictureThree" accept="image/png, image/jpeg" (change)="onFileChange($event, 'pictureThree')">
            <label for="pictureThree" class="file-upload-label">
              <mat-icon class="icon-submit" *ngIf="!pictureThree">upload</mat-icon>
              <mat-icon class="icon-submit" *ngIf="pictureThree">thumb_up</mat-icon>
            </label>
          </div>
          <div class="form-group custom-file-upload">
            <input type="file" id="pictureFour" name="pictureFour" accept="image/png, image/jpeg" (change)="onFileChange($event, 'pictureFour')">
            <label for="pictureFour" class="file-upload-label">
              <mat-icon class="icon-submit" *ngIf="!pictureFour">upload</mat-icon>
              <mat-icon class="icon-submit" *ngIf="pictureFour">thumb_up</mat-icon>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<app-logo-ygo></app-logo-ygo>
